<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/index.js"></script>
    <title>Document</title>
</head>
<style>
    .view-animate {
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
        position: absolute;
        top:20px;
        left:0;
        width:100%;
    }
    .view-animate.ng-enter, .view-animate.ng-leave {
        display:block;
        width:100%;
        top:20px;
        left:0;
    }
    .view-animate.ng-enter {
        top:20px;
        left:100%;
    }
    .view-animate.ng-enter.ng-enter-active {
        top:20px;
        left:0;
    }
    .view-animate.ng-leave.ng-leave-active {
        top:20px;
        left:-100%;
    }
</style>
<body ng-app="myapp">
<div ng-view class="view-animate">

</div>
</body>
</html>