body{
    padding: 0;
    margin: 0;
}
.box{
    width: 1000px;
    margin: 40px auto;
    border-collapse: collapse;
}
caption{
    text-align: center;
    font-size: 20px;
    background:blueviolet;
    box-shadow:0 0 4px #ccc;
    color: #fff;
}
th,td{
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;

}
input{
    border: 0;
    outline: none;
    text-align: center;line-height: 50px;
    background: transparent;
}
input:focus{
    text-align: left;
}
a{
    cursor: pointer;
}
.add{
    width: 1000px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: auto;
}
.adds{
    background: greenyellow;
    border:none;
}
.adds:hover{
    background: greenyellow;
}
.del{
    background: orangered;

}
.del:hover{
    background: orangered;
}